.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body {
  height: 100%;
  background-color: black;
  color: orange;
}

div.fillScreen {
  position: fixed;
  display: flex;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#application {
  z-index: 2;
}

#application.mouseGone {
  cursor: none;
}

.sideBar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 101;
  top: 0;
  background-color: #330033;
  opacity: 0;
  overflow-x: hidden;
  transition: 1s;
}

.barOpen {
  opacity: 1;
}

.barClosed {
  opacity: 0;
}

#leftBar.barOpen {
  left: 0;
}

#leftBar.barClosed {
  left: -200px;
}

#rightBar.barOpen {
  right: 0;
}

#rightBar.barClosed {
  right: -200px;
}

.barTab {
  display: flex;
  position: fixed;
  z-index: 100;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  transition-property: z-index, width, left, right, opacity;
  transition-duration: 1s, 1s, 1s, 1s, .7s;
  transition-timing-function: linear, ease, ease, ease, linear;
}

.fullButton {
  width: 200px;
}

.halfButton {
  width: 100px;
}

.tabOpen {
  opacity: 0;
  z-index: -25;
}

.tabClosed {
  opacity: 1;
  z-index: 100;
}

.tabHidden {
  opacity: 0;
}

#leftTab.tabOpen {
  left: 200px;
  width: 0;
}

#leftTab.tabClosed {
  left: 0;
  width: 50;
}

#rightTab.tabOpen {
  right: 200px;
}

#rightTab.tabClosed {
  right: 0;
}

.numberWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

input {
  width: 200px;
}