.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body {
  height: 100%;
  background-color: black;
  color: red;
}

div.fill-screen {
  position: fixed;
  display: flex;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

#application {
  z-index: 2;
}

.side-bar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 101;
  top: 0;
  background-color: #330033;
  opacity: 0;
  overflow-x: hidden;
  transition: 1s;
}

.navigation-bar {
  left: 0;
}

.tool-bar {
  right: 0;
}

.active-item {
  background-color: #777777;
}

.navigation-container {
  z-index: 100;
}

.bar-tab {
  display: flex;
  position: fixed;
  font-size: 40px;
  color: white;
  z-index: 100;
  cursor: pointer;
  align-items: center;
  width: 30px;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  transition: 1s;
}

#leftTab {
  left: 0;
}

.right-tab {
  right: 0;
}

.bar-tab span {
  display: block;
  transition: 1s;
}